{% extends 'budget/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <br><br>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <label for="categoryInput">Expense Categores (hit enter after every category)</label>
    <input type="text" name="categoryInput" id="categoryInput">
    <input type="hidden" name="categoriesString">

    <ul id="categoriesContainer">

    </ul>

    <button type="submit" class="btn">Start Project</button>

  </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
